.toggle{
    transform: translateY(-100px);
}
.active::before{
    content: '';
    position: absolute;
    top: 0%;
    width: 60px;
    height: 6px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    background: #376e6f;
    transition: 3s;
}

.activepagi{
    background-color: #376e6f;
}